
/* .container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr))
}

.content{

  border:solid red 1px;
  border-radius: 20px;
} */
html,body{height: 100vh;}
.container{
  height: 100vh;//qui
  width: 100%;
 /*  display: grid;
  grid-template-columns: 20% 80%; *///qui
  display: flex;
  gap: 0px;
}
.left{
  height: 100vh;//qui
  padding: 25px;
  position: fixed;//questo
  background-color: #5B84B1FF;
  grid-column: 1;
  width: 250px;
  color: white;
}
.menu{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo,.links>div{
  display: flex;
  gap: 15px;
}
.links>div .img-box{align-self: center;}
.links>div .img-box img{/* filter:invert(48%) sepia(79%) saturate(5476%) hue-rotate(256deg) brightness(128%) contrast(919%) */
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(103%) contrast(101%);
}
.links h5:hover{border-bottom:solid #2508e3 1px;
cursor: pointer;
color: white;
}
.right{
  width: 100%;
  margin-left: 250px;
  padding-left: 0%;//qui
  height: 130%;//qui
grid-column: 2;
display: flex;
flex-direction: column;}
.right-top{
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 0px 2px 3px 1px rgba(20,20,20,0.4);
  background-color:  #FC766AFF
}
.profile{display: flex; justify-content: space-between;}
.profile-input{display: flex;}
.profile-input input{height: 40px;}
.profile-info{display: flex;gap: 10px;}
.profile-buttons{align-self: center;
  display: flex;
  gap: 20px;}



input{
  border-radius: 25px;
  background-color: rgb(204, 199, 199);
  outline: none;
  border: none;
  padding: 5px;
}
#search{border:none;
  background-color: inherit;
  cursor: pointer;
}
.profile-.img-box{
  width: 20px;
  height: auto;
}
.profile-img-box img{border-radius: 50%;height: 45px;width: 45px;}

/* .right-down{height: 100%;} */
.header{
  display: flex;
  justify-content: center;
}










.profile-buttons button{
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  /* display: inline-block; */

  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}
.profile-buttons button:hover{
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}











