<!-- <div class="container">
  @for (post of posts; track post.id) {
  <div class="content">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
    <br>
    <span>{{post.author}}</span>
  </div>

  }
</div>
 -->
<div class="container">
  <div class="left">
    <div class="menu">
      <div class="logo">
        <p>LoGo</p>
        <h1>CI MANGI</h1>
      </div>

      <div class="links">
        <div>
          <div class="img-box">
            <img src="/assets/icons/home.svg" alt="" srcset="" />
          </div>
          <h5 routerLink="./">HOME</h5>
        </div>
        <div>
          <div class="img-box">
            <img src="/assets/icons/posts.svg" alt="" srcset="" />
          </div>
          <h5 routerLink="./posts">POSTS</h5>
        </div>
        <div>
          <div class="img-box">
            <img src="/assets/icons/recipes.svg" alt="" srcset="" />
          </div>
          <h5 routerLink="./recipes">RECIPES</h5>
        </div>
        <div>
          <div class="img-box">
            <img src="/assets/icons/profile.svg" alt="" srcset="" />
          </div>
          <h5>PROFILE</h5>
        </div>
      </div>

      <div class="settings"></div>
    </div>
  </div>

  <div class="right">

    <div class="right-top">
      <div class="profile">
        <div class="profile-input"><button id="search" type="submit"><img  src="/assets/icons/search.svg" alt="" srcset=""></button><input type="search" name="" id=""></div>
        <div class="profile-buttons"><button id="new_post" routerLink="post">NEW POST</button><button id="new_recipe">NEW RECIPE</button></div>
        <div class="profile-info"><img src="/assets/icons/notifications.svg" alt=""><div class="profile-img-box"><img src="/assets/img/mario.jpg" alt=""></div>
        <p>Username</p></div>
      </div>

    </div>

    <div class="right-down">
      <div class="header">
      @if (head==='/home' || head==='') { <h1>LATEST POSTS</h1>}
      @else if (head==='/home/post') {<h1>CREATE A POST</h1>}
      @else if(head==='home/recipes'){<h1>RECIPES</h1>>}
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>



</div>
