
/* .container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr))
}

.content{

  border:solid red 1px;
  border-radius: 20px;
} */
html,body{height: 100vh;}
.container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
}
.left{
  height: 100%;
  padding: 25px;
  background-color: #5EBEC4;
  grid-column: 1;
}
.menu{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo{
  display: flex;
  gap: 15px;
}

.right{height: 100%;

grid-column: 2;}
