<!-- <div class="container">
  @for (post of posts; track post.id) {
  <div class="content">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
    <br>
    <span>{{post.author}}</span>
  </div>

  }
</div>
 -->
<div class="container">
  <div class="left">
    <div class="menu">
      <div class="logo">
        <p>LoGo</p>
        <h1>CI MANGI</h1>
      </div>

      <div class="links">
        <div>
          <div class="img-box">
            <img src="/assets/icons/home.svg" alt="" srcset="" />
          </div>
          <h5 routerLink="./">HOME</h5>
        </div>
        <div>
          <div class="img-box">
            <img src="/assets/icons/posts.svg" alt="" srcset="" />
          </div>
          <h5 routerLink="./posts">POSTS</h5>
        </div>
        <div>
          <div class="img-box">
            <img src="/assets/icons/recipes.svg" alt="" srcset="" />
          </div>
          <h5 routerLink="./recipes">RECIPES</h5>
        </div>
        <div>
          <div class="img-box">
            <img src="/assets/icons/profile.svg" alt="" srcset="" />
          </div>
          <h5>PROFILE</h5>
        </div>
      </div>

      @if(logged){<div class="settings">
        <img src="/assets/icons/logout.svg" alt="" srcset="" />
        <h5 (click)="logOut()">LOG OUT</h5>
      </div>}

    </div>
  </div>

  <div class="right">
    <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-search">
          <button id="searchBtn" type="submit">
            <img src="/assets/icons/search.svg" alt="" /></button>
          <input type="search" name="searchInput" id="searchInput" />
        </div>
        <div class="navbar-actions">
          <button id="newPostBtn" routerLink="post">NEW POST</button>
          <button id="newRecipeBtn" routerLink="recipe">NEW RECIPE</button>
        </div>
        <!-- <div class="navbar-info">
          <img src="/assets/icons/notifications.svg" alt="Notifications" />
          <div class="navbar-profile-pic">
            <img src="/assets/img/mario.jpg" alt="Profile Picture" />
          </div>
          <p>Username</p>
        </div>I think I will use a component for this -->
        <app-profile></app-profile>
      </div>
    </nav>




    <div class="right-down">
    <!--   <div class="header">
        @if (head==='/home' || head==='') {
        <h1>LATEST POSTS</h1>
        } @else if (head==='/home/post') {
        <h1>CREATE A POST</h1>
        } @else if(head==='home/recipes'){
        <h1>RECIPES</h1>
        >}
      </div> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
