

<!-- <div class="container">
  @for (post of posts; track post.id) {
  <div class="content">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
    <br>
    <span>{{post.author}}</span>
  </div>

  }
</div>
 -->
 <div class="container">

  <div class="left">
<div class="menu">
  <div class="logo"><p>LoGo</p><h1>CI MANGI</h1></div>


  <div class="links">
    <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>


  <div class="settings"></div>


</div>
</div>

<div class="right">

</div>



 </div>
