<main>



<div class="top">
<div class="top-left">
  <div class="img-box">
    <img src="/assets/img/chef.jpeg" alt="">
  </div>
</div>
<div class="top-right">
<div class="head">
  <h1>
    CHEF OF THE MONTH
  </h1>
  <p>
    <q>
      I love cooking this recipe and I'm sure you will too, trust me.
      Between Texas and Colorado, I alone am the helthiest one.
    </q>
  </p>
</div>
<div class="body">
  <div class="primerecipe">
    <app-recipe [recipe]="recipe"></app-recipe>
  </div>

</div>

</div>

</div>
<div class="down">
<div class="post-title">
  <h1>MOST LIKED POST by the Comunity</h1>
</div>
@if (post) {<app-post [post]="post"></app-post>}
@else {<div>

  <h2>No Post,please try again</h2>
</div>}

</div>




</main>
