main{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top{display: flex;

}

.img-box{
  height: 300px;
  width: 150px;
  border-radius: 25px;
}
.img-box img{
  max-height: 100%;
  width: auto;
}
