<main>
  <div class="header">
    <h1 style="color: white;">YOUR RECIPE,CHEF</h1>
  </div>
  <div class="body">
    <form #recipeForm="ngForm">
      <label for="category">choose a category</label>
      <select
        name="category"
        id="category"
        #categoryRef="ngModel"
        ngModel
        required
      >
        <option value="" disabled>category</option>
        <option value="vegan" selected="true">Vegan</option>
        <option value="meal">Meal</option>
        <option value="romantic_dinner">Romantic</option>
        <option value="pizza">Pizza</option>
        <option value="soup">Soup</option>
      </select>
      <label for="title">title</label>
      <input type="text" name="title" id="title" />
      <textarea name="cook" id="cook"></textarea>
      <button type="submit">CREATE</button>
    </form>
  </div>
</main>
