.card{
  height: 350px;

  margin-bottom: 20px;
  -webkit-box-shadow: 6px 7px 11px 0px rgb(52, 73, 76);
  -moz-box-shadow: 6px 7px 11px 0px rgb(64, 80, 78);
  box-shadow: 6px 7px 11px 0px rgb(199, 208, 255);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  padding: 15px;


  }

  .head{
    background-color: khaki;
    color: black;
    display: flex;
    justify-content: space-around;
  }
  .head:hover{
    cursor: pointer;
  }
