<!-- <p>recipe works!
  {{recipe.author.username}}
  {{recipe.body}}
  {{recipe.category}}
  {{recipe.title}}
</p> -->
<!-- 'vegan','meal','romantic_dinner','pizza','soup' -->
<!-- <div class="card">
<div class="head"><div class="author">{{recipe.author.username}}</div>
<div class="title"> {{recipe.title}}</div><div class="category">{{recipe.category}}</div></div>
<div class="body">
  <div class="img-box">
    @if (recipe.category  ==='pizza') {<img src="/assets/img/pizza.jpg" alt="" srcset=""> }
  @else if(recipe.category==='meal') {<img src="/assets/img/pasta.jpg" alt="" srcset="">  }
  @else if (recipe.category==='romantic_dinner') {<img src="/assets/img/romantic.jpg" alt="" srcset=""> }
  @else if (recipe.category==='vegan') {<img src="/assets/img/vegan.jpg" alt="" srcset=""> }
  @else if (recipe.category==='soup') {<img src="/assets/img/soup.jpg" alt="" srcset=""> }


  </div>
</div>

</div> -->

<div
  class="card"
  style="background-image:url('assets/img/{{ recipe.category }}.jpg')"
>
  <div class="head" (click)="onRecipe()">
    {{ recipe.title }}
  </div>
  <div class="bottom-card">
    by:{{ recipe.author?.username }} @if(recipe.author?.username===user.username){<app-edit (update)="showUpdate()" (delete)="showDelete()"></app-edit>}
  </div>

  @if (delete) {<app-alertbox [resource]="recipe" [type]="'recipe'" (closeme)="onClose()"  (done)="reload($event)"></app-alertbox>}
  @if(update){<app-updatebox [type]="'recipe'" [recipe]="recipe" (updated)="reload($event)" (closeme)="onClose()"></app-updatebox>}
</div>

