*,
*:before,
*:after {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left {
  grid-column: 1;
  height: 100%;
}
.right {
  grid-column: 2/3;
  height: 100%;
  background-color: #fdf5df;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box {
  width: 100%;
  height: 100%;
}
.img-box img {
  max-width: 100%;
  height: 100%;
}
h1 {
  color: #f92c85;
}
.form-box {
  width: 525px; /* prima era 60 */
  height: 420px; /* prima era 70 */
  margin-top: -10%;
  background-color: #5ebec4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  transition: height 0.15s ease-out;
}
.form-box.sign-up {
  width: 525px;
  height: 520px;
  /* margin-top: -5%; */
  margin-top: 0;
  background-color: #5ebec4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 125px;
  transition: height 0.15s ease-in;
}
.input-container {
  position: relative;
  margin-bottom: 20px;
}
.input-container.input-container-signup {
  position: relative;
  margin-bottom: 10px;
}

.input-container label {
  position: absolute;
  left: 0px;
  top: 0px;
  color: #f92c85;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  font-size: 22px;
}

.input-container input {
  border: 0;
  border-bottom: pink solid 1px;
  background: transparent;
  margin-bottom: 35px;
  color: #ffffff;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(250, 101, 126);
}

.input-container input:focus ~ label {
  top: -20px;
  font-size: 15px;
}
.input-container input:valid ~ label {
  top: -20px;
  font-size: 15px;
}
.button-container {
  display: flex;
  justify-content: center;
}
.button-container button {
  border-radius: 25px;
  background-color: #f92c85;
  color: #5ebec4;
  outline: none;
  border: 0;
  cursor: pointer;
  width: 110px;
  padding: 10px;
}

p a.login {
  cursor: url(/assets/img/restaurant_menu.svg), auto;
}
p a.signup {
  cursor: url(/assets/img/lunch_dinings.svg), auto;
}
