.update-form{
 /*  position: relative;
  top: -25%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 250px;
  align-items: center;
  height: 350px;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  position: fixed;
  top: 30%;
  right: 60%;
  width: 350px;
  height: 380px;
  border: 3px solid #73AD21;
}

.form-content{
  border-radius: 15px;
  width: 700px;
  height: 500px;
  padding: 5px;
  background-color: rgb(244 251 251);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#postform{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
#body{
  width: 75%;
  resize: none;
  outline: none;
  align-self: flex-end;
}
.form-button{align-self: flex-end;}
