.update-form{
 /*  position: relative;
  top: -25%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 250px;
  align-items: center;
  height: 350px;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  position: fixed;
  top: 20%;
  right: 55%;
  width: 350px;
  height: 380px;
  z-index: 9;
}


.form-content{
  border-radius: 15px;
  margin-left: 25px;
  width: 700px;
  height: 500px;
  padding: 5px;
  background-color: rgb(244 251 251);
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 9;
}

#postform{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
#body{
  width: 75%;
  resize: none;
  outline: none;
  align-self: flex-end;
}
.form-button{align-self: flex-end;}



#recipeform{
  border: #73AD21 solid 3px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 420px;
  background-color: #FFFFFF;
  gap: 10px;
}
#cook{
  resize: none;
  flex: 1;
  outline: none;
}
#recipeform button{
  background-color: #fc766a;
   /*  background-image: linear-gradient(-180deg, #f597b9, #a06393); */
    border-radius: 6px;
    box-shadow: rgba(236, 9, 9, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    transition: box-shadow 0.2s;
    width: fit-content;
    align-self: center;
}
#recipeform label{
  color: #FFFFFF;
}
#recipeform select{
  background-color: bisque;
}
#recipeform ::placeholder{
  color: hsl(279, 100%, 66%);
}

.close{
  align-self: flex-end;

  margin-bottom: 5px;
}
.close h1{

  cursor: pointer;

}

.recipe-buttons{
  display: flex;
  justify-content: space-between;
}

.recipe-buttons button#closebutton{
  background-color: #290ad8;
   /*  background-image: linear-gradient(-180deg, #f597b9, #a06393); */
    border-radius: 6px;
    box-shadow: rgba(236, 9, 9, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    transition: box-shadow 0.2s;
    width: fit-content;
    align-self: center;
}
