
.main{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,250px));
  gap: 25px;
  padding: 30px;
}
