
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,250px));
  gap: 25px;
  padding: 30px;
}
.paginate{
  display: flex;
  align-self: center;
}
.paginate button{
  background-color: #3498db; /* Light blue */
  color: #ecf0f1;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginate button:hover {
  background-color: #2980b9; /* Darker blue */
}
